{% extends 'base.html.twig' %}

{% block body %}
    {% for blogPost in blogPosts %}
        <h3> {{blogPost.title}} </h3>
        <p>{{blogPost.user}}</p>
        <p>{{blogPost.date|date("m/d/Y")}}</p>
        <p>{{blogPost.message}}</p>

    {% endfor %}
{% endblock %}

